
<ag-grid-angular 
    style="width: 990px; height: 300px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef">
</ag-grid-angular>

<button style="padding: 20px; color: white; background-color: green;" routerLink="a">Load Module A</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="b">Load Module B</button> -->

<!-- <h2>PDF Viewer</h2>
<h1> Angular PDF Viewer</h1>

<div class="container">
  <pdf-viewer [src]="pdfSource"
              [original-size]="false"
  ></pdf-viewer>
</div>
<pdf-viewer [src]="doc" [render-text]="true" style="display: block;">
</pdf-viewer>

<h6> Full Tutorial in Techiediaries </h6>

<div class="container">
  <textarea [(ngModel)] = "pdfSource"></textarea>

  <pdf-viewer [src]="pdfSource"
              [original-size]="false"
  ></pdf-viewer>
  
</div>
-->

<h2>Integrate PDF File Viewer in Angular</h2>
<div>
  <pdf-viewer
  [src]="pdfSrc"
  style="width: 900px; height: 400px;">
</pdf-viewer>
</div>

<br>
<div class="pdf">
  <h2>Integrate PDF File Viewer in Angular using "embed" tag</h2>
  <embed src="assets/pdf/typescript-handbook.pdf" frameborder="0" width="100%" height="400px">
<h2>Integrate PDF File Viewer in Angular From Local Storage</h2>
<textarea [(ngModel)] = "pdfViewSrc"></textarea>
<pdf-viewer 
src="{{pdfViewSrc}}">
</pdf-viewer>
</div>
<br>
<div class="word">
  <h2>Add Word Document to Angular</h2>
  <app-docviewer></app-docviewer>
</div>

